.new{
    width: 100%;
    display: flex;
    background-color: blanchedalmond;
}

.newContainer{
    flex: 6;
}

.top-new ,.bottom-new{
    -webkit-box-shadow: 3px -4px 21px -7px rgba(0,0,0,0.69); 
    box-shadow: 3px -4px 21px -7px rgba(0,0,0,0.69);
    padding: 10px;
    margin: 20px;
    display: flex;
}
.top-new h1{
    color: gray;
    font-size: 20px;
}

.left-new {
        flex: 1;
        text-align: center;
}

.left-new img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

.right-new{
    flex: 2;
    justify-content: space-around;
}

.right-new from{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.formInput{
    width: 80%;
    margin: 20px;
    color: rgb(121, 121, 121);
}

.formInput label{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 70px;
}

.icon-new{
    cursor: pointer;
}

.formInput input{
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    margin-left: 70px;
    margin-top: 10px;
    
}

.button-new{
    width: 150px;
    padding:15px;
    border: none;
    background-color: rgb(121, 121, 121);
    color: white;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 665px;
    font-weight: bolder;
}   

.button-new :hover{
    background-color: #EF233C;
}
